@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital@1&display=swap');

/* global variables */

:root {
    --primary-color: #00ffff;
}

/* universal styles */

* {
    font-family: 'Source Code Pro', monospace;
    box-sizing: border-box;
    margin: 0;
    color: var(--primary-color);
}

/* background image */
img {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -1;
    opacity: 0.8;
}

/* header */
header {
    height: 100px;
    width: 100%;
    text-align: center;
    padding-top: 25px;
}

/* footer */
footer {
    padding: 30px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    text-align: center;
}

.footer-container {
    width: 50%;
    margin: auto;
}

.footer-container h2 {
    margin-bottom: 10px;
}

/* main */
main {
    width: 595px;
    margin: auto;
    margin-top: 30px;
}

/* translate button */
main button {
    margin: 15px 0px;
    height: 45px;
    width: 580px;
    background-color: var(--primary-color);
    border: 0px solid white;
    color: black;
    font-size: 16px;
    cursor: pointer;
}