@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital@1&display=swap');

/* global variables */

:root {
    --primary-color: #17a2b8;
}

/* universal styles */

* {
    font-family: 'Source Code Pro', monospace;
    box-sizing: border-box;
    margin: 0;
    color: #00ffff;
}

/* background image */
img {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -1;
    opacity: 0.8;
}

/* header */
header {
    height: 100px;
    width: 100%;
    text-align: center;
    padding-top: 25px;
}

/* footer */
footer {
    padding: 30px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    text-align: center;
}

.footer-container {
    width: 50%;
    margin: auto;
}

.footer-container h2 {
    margin-bottom: 10px;
}