@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital@1&display=swap');

/* global variables */

:root {
    --primary-color: #00ffff;
}

/* universal styles */

* {
    font-family: 'Source Code Pro', monospace;
    box-sizing: border-box;
    margin: 0;
    overflow: hidden;
}

/* background image */
img {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -1;
    opacity: 0.8;
}

/* header */
header {
    height: 100px;
    width: 100%;
    text-align: center;
    padding-top: 25px;
    color: var(--primary-color);
}

/* footer */
footer {
    padding: 30px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    text-align: center;
    color: var(--primary-color);
}

.footer-container {
    width: 50%;
    margin: auto;
}

.footer-container h2 {
    margin-bottom: 10px;
}

/* main */
main {
    width: 648px;
    margin: auto;
    margin-top: 30px;
}

/* translate button */
main button {
    margin: 15px 0px;
    height: 45px;
    width: 630px;
    /* background-color: transparent; */
    border: 2px solid var(--primary-color);
    /* color: var(--primary-color); */
    font-size: 16px;
    cursor: pointer;
    font-weight: bolder;
    background-color: var(--primary-color);
    color: black;
    transition: all 0.6s ease;
}

main button:hover {
    box-shadow: inset 0 0 4px 2px #7385D0;
}

/* input textarea */
#input-text-area {
    font-size: 16px;
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: white;
    box-shadow: inset 0 0 4px var(--primary-color);
}

#input-text-area::placeholder {
    font-size: 16px;
    color: lightgray;
}

#input-text-area:focus {
    outline: none !important;
    border: 1px solid var(--primary-color);
    box-shadow: inset 0 0 4px 2px var(--primary-color);
}

/* output (translated) textarea */
#translated-text-area {
    font-size: 16px;
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: white;
    box-shadow: inset 0 0 4px var(--primary-color);
}

#translated-text-area::placeholder {
    font-size: 20px;
    color: lightgray;
}

#translated-text-area:focus {
    outline: none !important;
    border: 1px solid var(--primary-color);
    box-shadow: inset 0 0 4px 2px var(--primary-color);
}